<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="../stylesheets/register.css">
</head>
<body>
    <div id="main">
        <div id="page1">
            <div id="nav">
                <h3>profile</h3>

                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
            <div id="rest">
                <form method="post">
                    <label for="email"><b>Name</b></label>
                    <input type="text" placeholder="name" name="name">

                    <label for="email"><b>E-mail</b></label>
                    <input type="email" placeholder="email" name="username">

                    <label for="email"><b>Password</b></label>
                    <input type="password" placeholder="password" name="password">
                    <button>Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>